<div class="rec-container">
  <ul>
    <li>
      <div class="rec-headline">
        <ul>
          <li class="rec-headline-date">
            <div>{{ recommendation.Date |date:'E MMM yy' }}</div>
          </li>
          <li class="rec-headline-price">
            <div>{{ recommendation.PriceSaving | currency: currency }}</div>
          </li>
          <li class="rec-headline-room-number">
            <div>{{ recommendation.NumberOfRooms }}<i class="fa fa-bed rec-bed-icon" aria-hidden="true"></i></div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <p>{{ recommendation.RoomName }}</p>
    </li>
    <li>
      <div class="rec-detail">
        <ul>
          <li><p><span>{{ recommendation.OriginalPrice | currency: currency  }}</span><i class="fa fa-long-arrow-right"
                                                                   aria-hidden="true"></i><span>{{ recommendation.RecommendedPrice | currency: currency  }}</span>
          </p></li>
          <li><p><span>{{ recommendation.PredictedOccupancyFrom }} %</span><i class="fa fa-long-arrow-right"
                                                                              aria-hidden="true"></i><strong><span>{{ recommendation.PredictedOccupancyTo }} %</span></strong>
          </p></li>
        </ul>
      </div>

    </li>
    <li>
      <div class="rec-expander">
        <i (click)="isCollapsed = !isCollapsed" [hidden]="!isCollapsed" class="fa fa-angle-down" aria-hidden="true"></i>
        <i (click)="isCollapsed = !isCollapsed" [hidden]="isCollapsed" class="fa fa-angle-up" aria-hidden="true"></i>
      </div>
    </li>
  </ul>


  <div class="rec-detail-container" (collapsed)="collapsed($event)"
       (expanded)="expanded($event)"
       [collapse]="isCollapsed">

    <div class="rec-detail-body col-lg-12 col-md-12">

      <div class="detail-container col-lg-6 col-md-6">
        <p class="heading">Availability:</p>
        <p class="info" >{{ recommendation.NumberOfRooms }} Rooms</p>
        <p class="heading">Recommended price adjustments:</p>
        <p class="info"><span>{{ recommendation.OriginalPrice | currency: currency  }}</span><i class="fa fa-long-arrow-right"
                                                             aria-hidden="true"></i><span>{{ recommendation.RecommendedPrice | currency: currency  }}</span>
        </p>

        <p class="heading">Predicted Occupancy:</p>
        <p class="info"><span>{{ recommendation.PredictedOccupancyFrom }}%</span><i class="fa fa-long-arrow-right"
                                                                        aria-hidden="true"></i><strong><span>{{ recommendation.PredictedOccupancyTo }}%</span></strong>
        </p>

        <p class="heading">RevPAR:</p>
        <p class="info"><span>{{ recommendation.RevParFrom  | currency: currency }}</span><i class="fa fa-long-arrow-right"
                                                                        aria-hidden="true"></i><strong><span>{{ recommendation.RevParTo | currency: currency  }}</span></strong>
        </p>


        <p class="heading">Predicted revenue until adjusted date:</p>
        <p class="info"><span>{{ recommendation.RevUntilAdjustedDateFrom | currency: currency  }}</span><i class="fa fa-long-arrow-right"
                                                                        aria-hidden="true"></i><strong><span>{{ recommendation.RevUntilAdjustedDateTo | currency: currency  }}</span></strong>
        </p>
      </div>

      <div class="competitor-container col-lg-6 col-md-6">

        <p class="heading">Competitor Pricing:</p>
        <table>
          <tr *ngFor="let competitor of recommendation.Competitors" >
            <td>{{ competitor.name }}</td><td>{{ competitor.price | currency: currency }}</td>
          </tr>
        </table>
      </div>

    </div>

    <div class="graph-container col-lg-12 col-md-12">
      <app-atomize-graph [graphdata]="recommendation.Graphdata"></app-atomize-graph>
    </div>


  </div>

</div>




