<div class="menu-header">
  <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/settings" routerLinkActive="active">Settings</a>
  </nav>

  <div class="user-info">
    <ul>
      <li>
        <div class="details">
          <p class="name">{{ user.username }}</p>
          <p class="company">{{ user.company }}</p>
        </div>
      </li>
      <li>
        <div class="settings">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </div>
      </li>
    </ul>


  </div>


</div>

<h1>Most urgent</h1>

<app-atomize-recommendation-list [Hotels]="user.hotels"></app-atomize-recommendation-list>

