@import "../../../styles";

body {
  background: url(../../../assets/images/background.png) no-repeat center center fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.login-container {
  @include container-default;
  background-color: rgba(87, 103, 115, 0.4) !important;
  border: rgba(87, 103, 115, 0.4) !important;
  margin-top: 0;
  padding: 54px 10px 10px;
  div {
    position: relative;
    .image-container {
      text-align: center;
      margin-top: -36px;
      margin-bottom: 12px;
    }
    form {
      @include border-radius-all(4px);
      height: 340px;
      text-align: center;
      padding: 140px 50px 0px;
      background-color: white;
      .support {
        text-align: right;
        margin: -8px 0 35px 0;
        a {
          color: #B1B1B1;
          font-size: 12px;
          text-decoration: none;
        }
      }
      button {
        @include border-radius-all(4px);
        padding: 5px 10px;
        background-color: #FFFFFF !important;
        color: #3C3C3C;
        span {
          font-size: 12px;
          color: #25CC70;
        }
      }
    }
  }
}
