.list-container{
  position: relative;
  padding: 10px;
  border: 1px solid #576773;
  border-radius: 8px 8px 0 0;
  background-color: #576773;
  box-shadow: 0 2px 30px 0 rgba(0,0,0,0.2);

  ul{
    margin: 0 !important;
    padding: 0 !important;
    li{
      list-style: none;
    }
  }

  ul.hotel-roomtypes{
    width:100%;
    li{
      width:300px;
      display: inline-block;
      div{
        margin-bottom: 10px;

        select{
          min-width: 220px;
        }
      }

      div.room-types{
        position: absolute;
        top: 10px;
        right: 10px;
        select{
          background-color: #687681;
          color: #FFFFFF;
        }

      }
    }

  }
}
