<div class="list-container">


    <ul class="hotel-roomtypes">
      <li>
        <div>
          <select name="selectHotel" [(ngModel)]="selectedHotel">
            <option *ngFor="let hotel of Hotels" [ngValue]="hotel">{{ hotel.name }}</option>
          </select>

        </div>
      </li>
      <li>
        <div class="room-types">

          <select name="selectRoomType" [(ngModel)]="roomlist">
            <option *ngFor="let room of selectedHotel?.roomtypes" [ngValue]="room.id">{{ room.name }}</option>
          </select>

        </div>
      </li>
    </ul>







  <ul>
    <li *ngFor="let rec of recommendations | async">
      <app-atomize-recommendation [recommendation]="rec"></app-atomize-recommendation>
    </li>
  </ul>
</div>
