<div class="list-container" [appSpinner]="busy">
    <ul class="hotel-roomtypes" *ngIf="Hotels?.length >0" > <!--  -->
      <li>
        <div>
          <select class="hotel" #selectHotel (change)="onHotelChange(selectHotel.value)">
            <option *ngFor="let hotel of Hotels" [value]="hotel.id">{{ hotel.name }}</option>
          </select>
        </div>
      </li>
      <li>
        <div class="room-types">
          <ss-multiselect-dropdown [texts]="texts" [options]="options" [settings]="settings" [(ngModel)]="roomTypes" (ngModelChange)="onChange()"></ss-multiselect-dropdown>
        </div>
      </li>
    </ul>


    <div class="recommendation-grid">
      <!--<label class="checkbox-inline">-->
        <!--<input type="checkbox" id="inlineCheckbox1" value="option1"> Select All-->
      <!--</label>-->
      <ul>
        <li *ngFor="let rec of recommendations | async">
          <app-atomize-recommendation [currency]="Currency" [recommendation]="rec"></app-atomize-recommendation>
        </li>
      </ul>
    </div>

</div>
