<div class="list-container">


    <ul class="hotel-roomtypes">
      <li>
        <div>
          <select #selectHotel (change)="onHotelChange(selectHotel.value)">
            <option *ngFor="let hotel of Hotels" [value]="hotel.id">{{ hotel.name }}</option>
          </select>

        </div>
      </li>
      <li>
        <div class="room-types">
          <ss-multiselect-dropdown  [texts]="texts" [options]="myOptions" [(ngModel)]="roomType" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
        </div>
      </li>
    </ul>







  <ul>
    <li *ngFor="let rec of recommendations | async">
      <app-atomize-recommendation [recommendation]="rec"></app-atomize-recommendation>
    </li>
  </ul>
</div>
