<div class="menu-header">

  <div class="menu-items">
    <ul>
      <li>
        <img src="../../assets/images/atomizelogo.png" width="100" alt="Atomize logo">
      </li>
      <li>
        <div>
          <nav>
            <a routerLink="/home" routerLinkActive="active">Home</a>
            <a routerLink="/recommendation-view" routerLinkActive="active">Recommendations</a>
          </nav>
        </div>
      </li>
    </ul>
  </div>


  <div class="user-info">
    <ul>
      <li>
        <div class="details">
          <p class="name">{{ user.username }}</p>
          <p class="company">{{ user.company }}</p>
        </div>
      </li>
      <li>
        <div class="settings" (click)="this.show = !this.show;">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </div>
      </li>
    </ul>
  </div>

  <div class="user-settings-dropdown"*ngIf="show">
    <p (click)="logout()">Logout</p>
  </div>

</div>


