/* You can add global styles to this file, and also import other style files */

/*
html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

!* set background image per page *!
.login-bg {
  background: url(./assets/images/background.png) no-repeat center center fixed;
}
.home-bg {
  background: url(./assets/images/home.png) no-repeat center center fixed;
}
.recommendation-bg {
  background: url(./assets/images/home.png) no-repeat center center fixed;
}
*/

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .rec-headline {
    text-align: center;
    width: 80px !important;
    height: 65px;
    ul{
      li{
        div{
          width:100%;
        }

      }
    }
  }

  .rec-headline-room-number{
    position: inherit !important;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

  .rec-headline {
    width: 100px;
    .rec-headline-date {
      background-color: red;
    }

  }

}

h1 {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: bold;
}

.btn-atomize {
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.2) !important;
  color: white !important;
}

.container {
  margin-top: 50px !important;
}

.reco-bold {
  font-weight: bold !important;
}

@mixin background-image($imageurl) {
  background: url($imageurl) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin border-radius-all($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-top($radius) {
  -webkit-border-radius: $radius $radius 0 0;
  -moz-border-radius: $radius $radius 0 0;
  -ms-border-radius: $radius $radius 0 0;
  border-radius: $radius $radius 0 0;
}

@mixin container-default() {
  border: 1px solid #576773;
  @include border-radius-top(8px);
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(87, 103, 115, 0.4) !important;
  border: rgba(87, 103, 115, 0.4) !important;

}

body {
  font-family: 'Roboto', sans-serif;
  @include background-image('/assets/images/background.png');
}
